body{
    background: #f24028;
    color: #e3e337;
}
.rules ol{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid rgb(211, 182, 182);
    border-radius: 35px; */
}
.rules{
    border: 2px solid rgb(211, 182, 182);
    border-radius: 35px;
}
.rules ol li{
    padding: 5px;
    margin: 2px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
}
.rules h3{
    text-align: center;
}

.text{
    width: 520px;
    height: 60px;
    border: 2px solid rgb(211, 182, 182);
    border-radius: 35px;
    color:#f24028;
    background-color: #e3e337;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.text1{
    width: 110px;
    height: 50px;
    /* border: 2px solid rgb(211, 182, 182); */
    border-radius: 35px;
    background-color: #e3e337;
    text-align: center;
    /* align-items: center; */
    /* align-self: start; */
    color: #f24028;
    padding-top: 0px;
    /* align-items: center;
    justify-content: center; */

      /* The visible part of the button */
  display: block;
  padding: 2px 2px;
  border-radius: 12px;
  font-size: 1rem;
  /* background: hsl(345deg 100% 47%); The main button color */
  color: white;
  /* Start the front raised by 6px */
  transform: translateY(-6px);
  /* Smooth transition for the movement */
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin: 10px;
    height: 120px;

      /* Basic button styling */
  /* background: hsl(338, 7%, 67%); Color of the "shadow" or side */
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px; /* Accessibility for keyboard focus */
  margin: 2px;
}

.text2{
    width: 520px;
    height: 60px;
    border: 2px solid rgb(211, 182, 182);
    border-radius: 35px;
    color:#f24028;
    background-color: #e3e337;
    text-align: center;
}

.container1:hover .text1 {
  /* Lift the front slightly on hover */
  transform: translateY(-8px);
  /* Adjust transition on hover for a snappier feel */
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.container1:active .text1 {
  /* Lower the front to simulate a press */
  transform: translateY(-2px);
  /* Short transition for the press action */
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1);
}